body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-top: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    align-items: center;
    margin-top: 20px;
}

.board{
    width: 380px;
    height: 380px;
    display: grid;
    border: 2px solid black;
}

h1 {
    font-style: italic;
    font-size: 48px;
    font-weight: lighter;
    text-decoration: underline;
}

