body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    align-items: center;
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    border: 3px solid black;
}

h1{
    font-style: italic;
    text-decoration: underline;
    font-size: 48px;
}

h6 {
    font-size: 24px;
    margin-left: -40px;
}

button {
    height: 40px;
    width: 90px;
    border-radius: 10%;
    font-size: 18px;
}

.fa {
    background-color: brown;
    color: white;
    background-color: brown;

}

.ta {
    background-color: black;
    color: white;
    background-color: black;
}

.hu {
    background-color: yellow;
    background-color: yellow;
}

.ra {
    background-color: blue;
    color: white;
    background-color: blue;
}